h3{
    font-size: 25px !important;
}

.btn-info:hover{
    background-color: purple;
}

canvas{
    animation-name: RTX;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes RTX{
    from{box-shadow: 1px 1px 38px royalblue;}
    to{box-shadow: 1px 1px 38px darkturquoise;}
}